<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/header :: header_h">
    <meta charset="UTF-8">
    <title>게시판</title>
</head>
<body>
<div th:replace="/header :: header"></div>

<div class="container">
    <table class="table table-hover table-striped">

        <tr class="thead-strong">
            <th>번호</th>
            <th>제목</th>
            <th>조회수</th>
            <th>작성일</th>
        </tr>

        <tr th:each="postDto : ${postDtos}">
            <td th:text="${postDto.id}"></td>
            <td><a th:href="@{/postview(id=${postDto.id}, count=${postDto.count})}"><span th:text="${postDto.title}"></span></a></td>
            <td th:text="${postDto.count}"></td>
            <td th:text="${#temporals.format(postDto.createDate, 'yy-MM-dd HH:mm')}"></td>
            <!-- 타임리프 날짜형식함수 #temporals.format( 데이터 , 형식 )  -->
        </tr>

    </table>
    <a th:href="@{/postwrite}" class="btn btn-info">등록</a>

</div>

</body>
</html>